/* Embed google fonts for demo layout
-----------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900");

/* Main Page Layout
-- NOTE: Just for the demo page, and not
required for the video modal... Video Modal
styles are down below --
-----------------------------------------*/

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.col-sm {
  background-color: $wemu-green;
}

.col-sm h1,
h3 {
  color: $wemu-pink;
  font: $headers-font;
}

/* Chat containers */
.container-messages {
  border: 2px solid $wemu-green;
  background-color: $wemu-light-pink;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container-messages::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container-messages img {
  float: left;
  max-width: 80px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container-messages p {
  padding: 2px;
  margin: 2px;
  color: $wemu-green;
}

.time-right {
  font-size: 12px;
  padding-top: 5px;
  color: $wemu-green;
}

.styling-name {
  border-style: outset;
  margin-bottom: 20px;
}

.h4-com-show h4 {
  font-size: 1.25rem;
  color: $wemu-pink;
}

textarea {
  background-color: $wemu-light-pink !important;
  border-color: $wemu-light-pink !important;
}

input.string {
  background-color: $wemu-light-pink !important;
  border-color: $wemu-light-pink !important;
}

iframe {
  margin-top: 50px;
  width: 100%;
  position: sticky;
  top: 60px;
  height: calc(100vh - 90px);
}
