.banner {
  // background-color: $wemu-green;
  background-size: cover;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 2.5), rgba(0, 0, 0, 0.5)),
    url("back_and_white.jpg");
  background-position: center;
}

.banner-content {
  padding: 3cm;
  width: 60%;
}

.banner h1 {
  font-size: 280px;
  font-weight: 500;
  font-variant: small-caps;
  line-height: 70px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 180px;
  margin-top: 80px;
  color: $wemu-green;
}
.banner p {
  font-size: 27px;
  font-weight: lighter;
  color: $wemu-white;
  margin-bottom: 30px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.form-control[readonly],
.form-control {
  border: none;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.1);
  color: text-dark;
}

.form-search {
  display: flex;
  flex-direction: row;
  .search-input {
    padding: 20px;
    color: text-dark;
    background: #f4f4f4;
    flex: 1;
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
  }

  .btn-search {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
}

// .btn-secondary {
//   background-color: $wemu-green !important;
//   border-radius: 3px;
//   color: $wemu-white !important;
//   border-color: $wemu-green !important;
//   text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
//   margin-top: 40px;
// }

// .btn-secondary:hover {
//   background-color: $wemu-green !important;
//   color: $wemu-green !important;
// }

.fas {
  font-size: 90px;
  color: $wemu-green;
}

.far {
  font-size: 90px;
}

.col-lg-4 h2 {
  color: $wemu-green;
  margin-bottom: 5px;
}

.col-lg-4 p,
h5 {
  color: $wemu-white;
  margin-bottom: 5px;
}

.col-md-7,
p {
  color: $wemu-white;
}

.col-md-7,
h2 {
  color: $wemu-green;
}

.featurette {
  img {
    object-fit: cover;
  }
}

.featurette-divider {
  background-color: $wemu-green;
}
