.banner {
  background-color: #557571;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: #d49a89;
}

.banner-content {
  width: 60%;
}

.banner h1 {
  text-transform: none;
  font-size: 60px;
  font-weight: 500;
  font-variant: small-caps;
  line-height: 70px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: #f7d1ba;
  margin-bottom: 30px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.form-control[readonly],
.form-control {
  border: none;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.1);
  color: text-dark;
}

.inline_field_wrapper {
  display: inline-block;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  div {
    flex: 1 1 auto;
    margin: 5px;
  }
}

.form-control-label {
  color: text-dark;
  font-size: 14px;
}

input:disabled {
  cursor: not-allowed !important;
}

.form-search {
  display: flex;
  flex-direction: row;
  .search-input {
    padding: 20px;
    color: text-dark;
    background: #f4f4f4;
    flex: 1;
  }
}
