.banner {
  background-color: #557571;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: #d49a89;
}

.banner-content {
  padding: 3cm;
  width: 60%;
}

.banner h1 {
  text-transform: none;
  font-size: 280px;
  font-weight: 500;
  font-variant: small-caps;
  line-height: 70px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  margin-bottom: 180px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: #f7d1ba;
  margin-bottom: 30px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}

.form-control[readonly],
.form-control {
  border: none;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.1);
  color: text-dark;
}

.form-search {
  display: flex;
  flex-direction: row;
  .search-input {
    padding: 20px;
    color: text-dark;
    background: #f4f4f4;
    flex: 1;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.btn-secondary {
  background-color: $wemu-light-pink !important;
  border-radius: 3px;
  color: $wemu-green !important;
  border-color: $wemu-green !important;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover {
  background-color: $wemu-pink !important;
  color: $wemu-green !important;
}
