body {
  background-color: black !important;
  background-size: cover;
}

.banner-profile {
  height: 300px;
  width: 100%;
  background: linear-gradient(rgba(200, 200, 0, 0.5), rgba(0, 0, 0, 0.5));
  .img-medium {
    height: 300px;
    width: 100%;
  }
}

.profile-picture {
  border-radius: 100%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: -80px;
}
.big-profile-picture {
  border: 5px solid $wemu-green;
  width: 250px;
  height: 250px;
}

.container-baixo {
  font-family: "Montserrat", "Helvetica", "sans-serif";
  padding: 10px;
}

.container-cima {
  font-family: "Montserrat", "Helvetica", "sans-serif";
  color: #f7d1ba;
  padding: 10px;
}

.container-left {
  position: relative;
}

.title-profile {
  font-family: "lato", "Helvetica", "sans-serif";
  color: $wemu-green;
}

.user-name {
  font-family: "lato", "Helvetica", "sans-serif";
  color: $wemu-green;
  font-size: 30px;
  padding-top: 10px;
}

.user-song {
  font-family: "lato", "Helvetica", "sans-serif";
  color: $wemu-white;
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 30px;
  font-weight: bold;
}

#top-artists {
  padding-top: 15px;
  padding-bottom: 30px;
}

#top-songs {
  padding-top: 30px;
  padding-bottom: 15px;
}

.user-frame {
  width: 100%;
  margin: 0 auto;
}

.img-shaking:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.link-tops {
  color: $wemu-white;
  &:hover {
    color: $wemu-green !important;
    text-decoration: none;
  }
}

.informations {
  padding-top: 30px;
}

.card-userinformation {
  max-height: 200px;
  height: 100%;
  padding-top: 20px;
  padding-right: 30px;
  color: $wemu-green;
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 20px;
  }
}

.card-small-community {
  background-color: $wemu-green;
  border: none;
  p {
    max-height: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a {
    padding: 2px;
  }
}

.card-small-img-top {
  width: 120px;
  height: 120px;
}

.card-small-body {
  width: 120px;
  text-align: center;
  p {
    color: $wemu-white;
  }
}

.user-informations {
  padding-top: 170px;
}

#informations {
  text-align-last: center;
  padding-top: 20px;
}

.container-messages-profile {
  height: 70px;
  border: none;
  border-radius: 100%;
  color: $wemu-green;
}

.show-messages {
  justify-content: center !important;
  text-align: -webkit-center;
  padding-top: 30px;

  h3 {
    padding-top: 30px;
    font-weight: bold;
    padding-bottom: 20px;
  }
}

.show-messages-text {
  border: 2px solid $wemu-green;
  background-color: $wemu-white;
  border-radius: 5px;
  padding: 3px;
  margin: 10px 0;
  max-width: 700px;
  width: 100%;

  color: $wemu-green;
  a {
    color: $wemu-green;
    padding: 4px;
  }
  p {
    color: $wemu-green;
  }
}

.messages-text-box {
  font-size: 12px;
  p {
    margin-bottom: 0px;
  }
}

.message-content {
  font-size: 15px;
  color: $wemu-green;
  text-align: start;
}

#participate-in {
 a{
  color: $wemu-white;
  &:hover {
    color: $wemu-green !important;
    text-decoration: none;
  }
 }
}

.featurette-divider {
  background-color: $wemu-green;
}
