body {
  background-color: #557571 !important;
  background-size: cover;
  color: #D49A89;
}

.profile-picture {
	border-radius: 100%;
	overflow: hidden;
	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;	
}
	.big-profile-picture {
		border: 5px solid #D49A89;
		width: 250px;
		height: 250px;
	}
	

.container {
	font-family: "Montserrat", "Helvetica", "sans-serif";
	color: #f7d1ba;
	padding: 10px;
}

.title {
	font-family: "lato", "Helvetica", "sans-serif";
	color: #d49a89;
}

.user-name {
	font-family: "lato", "Helvetica", "sans-serif";
	color: #d49a89;
}
// $wemu-green: #557571;
// $wemu-pink: #d49a89;
// $wemu-light-pink: #f7d1ba;
// $wemu-white: #f4f4f4;
// $body-font: "lato", "Helvetica", "sans-serif";
// $headers-font: "Montserrat", "Helvetica", "sans-serif";