main {
  background-color: $wemu-green !important;
}

.album {
  background-color: $wemu-green !important;
}

.jumbotron {
  background-color: $wemu-green !important;
  padding-bottom: 0px !important;

  h1 {
    color: $wemu-green;
    text-transform: none;
    font-weight: 500;
    font-variant: small-caps;
    line-height: 70px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  }
  p {
    color: $wemu-green;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 30px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  }
}

.card-body {
  background-color: $wemu-green;

  h2 {
    color: $wemu-green;
    font-variant: small-caps;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  p {
    height: 50px;
    color: $wemu-green;
    max-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.btn-outline-secondary {
  font-weight: bold !important;
  color: $wemu-green !important;
  border-color: $wemu-green !important;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) !important;
}

.btn-outline-secondary:hover {
  color: $wemu-green !important;
  background-color: $wemu-green !important;
  border-color: $wemu-green !important;
}
