<footer class="footer mt-auto py-1">
  <div class="container text-center">
    <span class="members-text"">Developed by <strong><%= link_to "Romulo", "https://github.com/Romulllo"%></strong>, <strong><%= link_to "Vanessa", "https://github.com/VanessaBach"%></strong> and <strong><%= link_to "Bernardo", "https://github.com/berneves"%></strong></span>
  </div>
</footer>


