<div class="position-relative">
  <footer class="footer mt-auto py-1">
    <div class="container text-center">
      <span class="text-muted">Developed by <%= link_to "Romulo", "https://github.com/Romulllo"%>, <%= link_to "Vanessa", "https://github.com/VanessaBach"%> and <%= link_to "Bernardo", "https://github.com/berneves"%></span>
    </div>
  </footer>
</div>