<div class="banner">
  <div class="banner-content">
    <h1>WeMu</h1>
    <p>connecting people with music</p>
    <%= link_to "Sign in with Spotify", user_spotify_omniauth_authorize_path, class:"link-button" %><br />
  </div>
</div>