<!-- <div class="card card-artists">
		<h1 class="title">Artists:: Last 20 Listened...</h1>
		<% @spotify_response['items'].each do |x| %>
			<ul class="list">
				<li><%= x['track']['album']['artists'][0]['name'] %></li> 
			</ul>
		<% end %>
	</div>

	<div class="card card-artists">
		<h1>Albumns:: Last 20 Listened...</h1>
		<% @repos['items'].each do |x| %>
		<%= image_tag x['track']['album']['images'][0]['url'] %>
		<% end %>
	</div> -->

<!-- 

<div class="row">
  <% @repos['items'].each do |x| %>
  <div class="col-3">
     <div class="card card-artists m-1 align-text-bottom" style="background-image: url(<%= image_tag x['track']['album']['images'][0]['url'] %>);">
      </div>
  </div>
  <% end %>
</div> -->
