.link-button {
  text-decoration: none;
  border: 2px solid #2ab759;
  color: #2ab759;
  border-radius: 20px;
  padding: 10px;
  background-image: linear-gradient(#2ab759 100%, #f8f8f8 100%);
  background-repeat: no-repeat;
  background-size: 0% 0%;
  background-position: 50% 50%;
  transition: background-size 0.5s, color 0.5s;
}

.link-button:hover {
  background-size: 100% 100%;
  border-radius: 20px;
  color: #f8f8f8;
  cursor: pointer;
}

.button-home {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#query {
  background-color: $wemu-light-pink;
}
