.link-button {
  text-decoration: none;
  border: 2px solid #2ab759;
  color: #2ab759;
  border-radius: 20px;
  padding: 10px;
  background-image: linear-gradient(#2ab759 100%, #f8f8f8 100%);
  background-repeat: no-repeat;
  background-size: 0% 0%;
  background-position: 50% 50%;
  transition: background-size 0.5s, color 0.5s;
}

.link-button:hover {
  background-size: 100% 100%;
  border-radius: 20px;
  color: $wemu-green;
  cursor: pointer;
}

.button-home {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#query {
  background-color: $wemu-light-pink;
}

.button-pink {
  background-color: $wemu-pink;
  color: $wemu-light-pink;
  text-decoration: none;
  border: 2px solid $wemu-pink;
  border-radius: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
}

.button-pink:hover {
  background-size: 100% 100%;
  border-radius: 0px;
  color: $wemu-green;
  text-decoration: none;
  cursor: pointer;
}

.button-pink-search {
  background-color: $wemu-pink;
  color: $wemu-light-pink;
  text-decoration: none;
  border: 2px solid $wemu-pink;
  border-radius: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.button-pink-search:hover {
  background-size: 100% 100%;
  border-radius: 0px;
  color: $wemu-green;
  text-decoration: none;
  cursor: pointer;
}

.button-destroy {
  background-color: #9c2913;
  color: $wemu-light-pink;
  text-decoration: none;
  border: 2px solid #58180b;
  border-radius: 0px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.button-destroy:hover {
  background-size: 100% 100%;
  border-radius: 0px;
  color: $wemu-green;
  text-decoration: none;
  cursor: pointer;
}
