.community-banner {
  position: sticky;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  background-position: center center;
  text-align: center;
}

.banner-community {
  background-size: cover;
  background-position: center;
  height: 40vh;
}
