.banner-community {
  background-size: cover;
  background-position: center;
  height: 40vh;
  position: relative;

  .banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $wemu-pink;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);

    h1 {
      letter-spacing: 3px;
      font-size: 50px;
    }
  }
}
