.footer {
  background-color: $wemu-green;
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  padding: 0px 30px;
  position: relative;
  top: 30px  ;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(10,10,10);
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: $wemu-white;

}
.footer .fa-heart {
  color: #D23333;
}

.footer-img{
  height: 30px;
}

@media (max-width: 960px) {
.footer-copyright{
  font-size: 20px;
  img {
    width: 40px;
    height: 100%;
    }
  }
}
@media (max-width: 720px) {
.footer-copyright{
  font-size: 18px;
  img {
    width: 30px;
    height: 100%;
    }
  }
}
@media (max-width: 540px) {
.footer-copyright{
  font-size: 12px;
  img {
    width: 20px;
    height: 100%;
    }
  }
}
