.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.bg-wemu {
  background-color: $wemu-green;
}

nav {
  h3 {
    color: $wemu-green;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;

    a {
      padding: 0 !important;
    }
  }

  a {
    color: $wemu-white !important;
  }
}

.dropdown-menu {
  background-color: $wemu-green !important;
}

.dropdown-item {
  color: $wemu-white !important;
}

.dropdown-item:hover {
  background-color: black !important;
}
